@tailwind base;
@tailwind components;
@tailwind utilities;

/* --bg-color: #0f172a;
     --acc-color: #334155;
     --txt-color: #64748b;
     --heading: #cbd5e1; */

small {
  left: calc(50% - 50px);
}

body {
  margin: 0;
  /* background-color: #1c1b1b38;
  background-image: url("/5.jpg");
  background-size: cover;
  background-blend-mode: darken;
  background-repeat: no-repeat;
  background-position: center; */
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: #fc0000;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #ff0606;
}

.fade-in {
  opacity: 1;
  transition: opacity 0.5s ease-in-out;
}

.fade-out {
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}
